.coffee-card {
  background-color: #f5f4f1;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  .coffee-card-left {
    // padding: 15px;
    .coffee-img {
      border: 1px solid #ccc;
      padding: 8px;
    }
  }
  .coffee-card-right {
    display: flex;
    gap: 55px;
    .text-content {
      text-align: left;
      align-self: center;
      p {
        margin: 3px 0;
        font-size: 15px;
      }
    }
    .icon-btn-area {
      display: flex;

      flex-direction: column;
    }
  }
}
